name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - run: |
          sudo apt update
          sudo apt install gcc-aarch64-linux-gnu ninja-build
      - uses: actions/checkout@v4
      - name: Build for x86_64-linux-gnu
        run: |
          cmake -G Ninja -B build
          ninja -C build
          strip build/espresso
          mv build/espresso x86_64-linux-gnu-espresso
          rm -rf build
      - name: Build for aarch64-linux-gnu
        run: |
          cmake -G Ninja -B build -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc
          ninja -C build
          aarch64-linux-gnu-strip build/espresso
          mv build/espresso aarch64-linux-gnu-espresso
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "*espresso"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          draft: false
  build-macos:
    runs-on: macos-14
    steps:
      - run: brew install ninja
      - uses: actions/checkout@v4
      - name: Build for x86_64-apple
        run: |
          cmake -G Ninja -B build -DCMAKE_OSX_ARCHITECTURES=x86_64
          ninja -C build
          strip build/espresso
          mv build/espresso x86_64-apple-espresso
          rm -rf build
      - name: Build for arm64-apple
        run: |
          cmake -G Ninja -B build -DCMAKE_OSX_ARCHITECTURES=arm64
          ninja -C build
          strip build/espresso
          mv build/espresso arm64-apple-espresso
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "*espresso"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          draft: false
  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - name: Build for x86_64-windows
        run: |
          cmake -G "Visual Studio 17 2022" -A x64 -B build
          cmake --build build --config Release
          move build\Release\espresso.exe x86_64-windows-espresso.exe
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "*espresso.exe"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          draft: false